@font-face {
  font-family: "Arimo";
  src: url("../fonts/Arimo-Regular.woff2") format("woff2"), url("../fonts/Arimo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Arimo";
  src: url("../fonts/Arimo-Bold.woff2") format("woff2"), url("../fonts/Arimo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* Main */
:root {
  --basic-black: #000000;
  --active-menu-text-color: #0E73F6;
  --main-text-color: #252C32;
  --basic-deep-blue: #3E368F;
  --button-blue: #4094F7;
  --icon-deep-gray-color: #5B6871;
  --card-text-color: #676767;
  --inactive-text-grey-color: #6E7C87;
  --icon-light-gray-color: #84919A;
  --basic-dark-gray: #9A9A9A;
  --basic-light-gray: #D3D3D3;
  --basic-outline-gray: #D5DADD;
  --element-active-blue: #D7EDFF;
  --main-border-color: #DDE2E4;
  --divider-light-gray-color: #E5E9EB;
  --basic-light-blue: #E9E6FD;
  --bg-light-gray-color: #F6F8F9;
  --basic-white: #FFFFFF;
  --avatar-border-black: rgba(0, 0, 0, 0.1);
  --element-hover-blue: rgba(215, 237, 255, 0.5);
  --element-hover-icon-blue: rgba(14, 115, 246, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Arimo", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  min-height: 100%;
  box-sizing: border-box;
  background-color: var(--basic-white);
}

/* Header */
.main-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--divider-light-gray-color);
}

/* Header menu */
.main-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0 17px 0;
}

.left-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 24px;
  height: 32px;
  margin: 0 auto;
}
.left-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 14px;
  color: var(--main-text-color);
}
.left-menu-item {
  position: relative;
  display: flex;
  padding: 9px 16px;
  align-items: center;
}
.left-menu-item:hover {
  background-color: var(--bg-light-gray-color);
}

.logo:hover {
  background: none;
}

.dropdown-left-menu:hover {
  background: none;
}

.right-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  height: 32px;
  margin: 0 auto;
}
.right-menu-item {
  height: 16px;
  padding: 8px;
}

.dropdown-left-menu {
  padding: 4px;
}
.dropdown-left-menu a {
  height: 20px;
}

.people-dropdown-menu, .board-dropdown-menu {
  display: none;
}

.dropdown-menu {
  z-index: 15;
  display: none;
  list-style-type: none;
  position: absolute;
  top: 34px;
  width: 150px;
  border: 1px solid var(--divider-light-gray-color);
  padding-left: 0;
  left: 0;
  background: white;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.dropdown-menu.active {
  display: block;
}
.dropdown-menu-item {
  padding: 9px 16px;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--divider-light-gray-color);
}
.dropdown-menu-item:first-child {
  border-top: none;
}
.dropdown-menu-item:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.dropdown-menu-item img {
  margin-right: 4px;
}
.dropdown-menu-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 14px;
  color: var(--main-text-color);
}
.dropdown-menu-item:hover {
  background-color: var(--bg-light-gray-color);
}

.logo {
  padding: 8px 4px;
}

.btn {
  border: 1px solid var(--main-border-color);
  border-radius: 6px;
}

.search-input {
  font-family: inherit;
  margin-right: 16px;
  border: 1px solid var(--main-border-color);
  border-radius: 6px;
  height: 32px;
  padding-left: 34px;
}
.search-input::placeholder {
  color: #9AA6AC;
}

.search-input-wrapper {
  position: relative;
}
.search-input-wrapper::before {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  left: 10px;
  top: 10px;
  background: url("../icons/search.svg") center center/cover no-repeat;
}

.avatar-mini {
  height: 24px;
  margin-left: 8px;
  padding: 4px;
}
.avatar-mini-img {
  outline: 1px solid var(--avatar-border-black);
  border-radius: 999px;
}

/* Content */
/* Left block */
.main-content-title {
  display: none;
}

.main-content-block {
  display: flex;
  justify-content: space-between;
}
.main-content-block-left-info-panel {
  overflow: hidden;
  display: none;
  width: 240px;
  background-color: var(--bg-light-gray-color);
  padding: 16px;
  border-right: 1px solid var(--divider-light-gray-color);
}

.open {
  display: block;
}

.left-info-panel-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.left-info-panel-title-logo {
  padding: 5px;
}
.left-info-panel-title-desc {
  margin-left: 8px;
}
.left-info-panel-title-desc-header {
  margin: 0;
  font: inherit;
  font-weight: 700;
}
.left-info-panel-title-desc-text {
  color: var(--inactive-text-grey-color);
  font-size: 12px;
  line-height: 16px;
}

.left-info-menu {
  list-style-type: none;
  padding: 0;
}
.left-info-menu-divider {
  border: 1px solid var(--divider-light-gray-color);
}
.left-info-menu-item {
  display: flex;
  align-items: center;
  padding: 4px 12px 4px 8px;
}
.left-info-menu-item:hover {
  background-color: var(--element-hover-blue);
  border-radius: 6px;
}
.left-info-menu-item:hover a {
  color: var(--active-menu-text-color);
}
.left-info-menu-item:hover svg path {
  fill: var(--element-hover-icon-blue);
}
.left-info-menu-item.active {
  background: var(--element-active-blue);
  border-radius: 6px;
  font-weight: 700;
}
.left-info-menu-item.active a {
  color: var(--active-menu-text-color);
}
.left-info-menu-item.active svg path {
  fill: var(--button-blue);
}
.left-info-menu-item-link {
  color: var(--main-text-color);
  margin-left: 8px;
}

/* Main board block */
.main-content-board {
  width: 100%;
  padding: 24px 0 0 32px;
}

/* Top info block */
.breadcrumbs {
  padding-left: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}
.breadcrumbs-wrapper {
  margin-bottom: 12px;
}
.breadcrumbs-item {
  position: relative;
  margin-right: 16px;
  padding: 0 4px;
}
.breadcrumbs-item:after {
  content: "";
  display: block;
  height: 9px;
  width: 5px;
  position: absolute;
  background: url("../icons/arrow-right.svg") center center/cover no-repeat;
  right: -11px;
  top: 7px;
}
.breadcrumbs-item-link {
  color: var(--inactive-text-grey-color);
}
.breadcrumbs-item-last {
  padding: 0 4px;
  color: var(--main-text-color);
}

.top-info-panel {
  display: flex;
  justify-content: space-between;
}
.top-info-panel-header {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.top-info-panel-actions {
  gap: 4px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 32px 0 0;
}
.top-info-panel-actions-item {
  display: flex;
  align-items: center;
}
.top-info-panel-actions-item-link {
  display: flex;
  margin: 3px 14px;
}
.top-info-panel-actions-item-link-btn {
  display: flex;
  margin: 8px;
}

.btn-blue {
  background-color: var(--button-blue);
  font-weight: 700;
}
.btn-blue:hover {
  background-color: var(--basic-white);
}
.btn-blue a {
  color: var(--bg-light-gray-color);
}
.btn-blue a:hover {
  color: var(--button-blue);
}

.main-board-menu {
  display: flex;
}
.main-board-menu-title {
  display: none;
}
.main-board-menu-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
}
.main-board-menu-list-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 9px 16px;
}
.main-board-menu-list-item:hover {
  background-color: var(--bg-light-gray-color);
}
.main-board-menu-list-item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 14px;
  color: var(--main-text-color);
}
.main-board-menu-sprint-list {
  display: none;
}
.main-board-menu-people-list {
  list-style-type: none;
  display: flex;
  padding: 0 16px 0 4px;
}
.main-board-menu-people-list-item {
  width: 32px;
  height: 32px;
  outline: 2px solid var(--basic-white);
  border-radius: 16px;
  margin-right: -6px;
}
.main-board-menu-people-list-item img {
  outline: 1px solid var(--avatar-border-black);
  outline-offset: -1px;
  border-radius: 16px;
}
.main-board-menu-people-list-item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 14px;
  color: var(--main-text-color);
}

.avatar-list {
  padding: 0;
}

.summary-people {
  outline: 1px solid var(--basic-outline-gray);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-1 {
  z-index: 5;
}
.avatar-2 {
  z-index: 4;
}
.avatar-3 {
  z-index: 3;
}
.avatar-4 {
  z-index: 2;
}

.main-board {
  display: flex;
  justify-content: flex-start;
}
.main-board-title {
  display: none;
}
.main-board-column {
  background-color: var(--bg-light-gray-color);
  border-radius: 6px;
  width: 274px;
  margin-right: 10px;
  padding: 12px 8px;
}
.main-board-column-title {
  color: var(--inactive-text-grey-color);
  text-transform: uppercase;
  margin: 0 8px;
  font-weight: 700;
}
.main-board-cards {
  list-style-type: none;
  padding: 0;
}
.main-board-cards-item {
  margin-top: 8px;
  background-color: var(--basic-white);
  border-radius: 10px;
  padding: 15px;
}
.main-board-cards-item-tags {
  margin-top: 15px;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.main-board-cards-item-tags-item {
  display: flex;
  padding: 0 4px;
  background-color: var(--basic-light-gray);
  border-radius: 3px;
  margin-right: 5px;
  height: 16px;
  align-items: center;
}
.main-board-cards-item-tags-item a {
  color: var(--basic-white);
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
}
.main-board-cards-item-info {
  display: flex;
  justify-content: space-between;
}
.main-board-cards-item-info a {
  display: flex;
  align-items: center;
}
.main-board-cards-item-info-task-number {
  margin: 0;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: var(--basic-dark-gray);
}
.main-board-cards-item-info-icon {
  margin-right: 4px;
}
.main-board-cards-item-info-icon-wrapper {
  display: flex;
  align-items: center;
}
.main-board-cards-item-header {
  margin-bottom: 28px;
}
.main-board-cards-item-title {
  margin: 5px 0 0 0;
  font-size: 14px;
  line-height: 16px;
  color: var(--card-text-color);
}
.main-board-cards-item-label {
  background-color: var(--basic-light-blue);
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 0 4px;
  border-radius: 3px;
  margin: 0;
  display: inline-block;
}
.main-board-cards-item-label a {
  color: var(--basic-deep-blue);
}

.dropdown-icon {
  margin: 10px 8px;
}

footer {
  display: none;
}

/*# sourceMappingURL=style.css.map */
